/* @import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Kanit:wght@300&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-behavior: unset;
}

:root{
    --panel-color: #F9F9F9;
    --primary-color: #0D009D;
    --primary-color-light: #3d34a1;
    --black-color: #000;
    --dark-color: #B9B9B9;
    --border-color: #919191;
    --light-color: #e7e6e6;
    --grey-color: #F9F9F9;
    --white-color: #fff;
}


body {
    background-color: var(--panel-color);
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


div,
ul,
li,
p,
a {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

p {
    font-size: 16px;
}

html,
body {
    height: 100%;
}

#shadow-host-companion {
    display: none;
}

.custom-container {
    margin-inline: auto !important;
    width: min(90%, 80rem) !important;
    /* border: solid tomato; */
}

.container-narrow {
    margin-inline: auto;
    width: min(80%, 60rem);
    /* border: solid tomato; */
}

section {
    padding: 9rem 0;
    overflow: hidden;
}

hr {
    margin: 2px 0;
}

.heading{
    font-weight: bold;
    color: var(--primary-color);
}
.color-primary {
    color: var(--primary-color);
}


.paragraph-light {
    font-size: 16px;
    color: var(--dark-color);
}

.paragraph-sm {
    color: var(--dark-color);
    font-size: 14px;
}

a {
    color: var(--black-color);
    text-decoration: none;
}
.custom-btn {
    font-size: 17px;
    border-radius: 22px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: all .2s ease;
    padding: 13px 23px;
    cursor: pointer;
    display: block;
}

.custom-btn.disabled {
    background-color: var(--primary-color-light);
    pointer-events: none;
}

.custom-btn:hover {
    background-color: var(--primary-color-light);
    color: var(--white-color);
}

/* ::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--secondary-color-300);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-color-100);

} */


.custom-input  {
    outline: none;
    border: 1.5px solid var(--border-color);
    border-radius: 5px;
    padding: 12px 18px;
    width: 100%;
    font-size: 15px;
    background-color: var(--grey-color);
    color: var(--black-color);
}
.mult-select-tag .wrapper .body{
    outline: none;
    border: 1.5px solid var(--dark-color);
    border-radius: 5px;
    padding: 6px 18px;
    width: 100%;
    font-size: 15px;
    background-color: var(--grey-color);
    color: var(--black-color);

}

.cursor-pointer {
    cursor: pointer;
}


/* ------------- CUSTOM ALERT -----------  */
.custom-alert {
    padding: 12px 35px;
    position: fixed;
    top: -200px;
    right: 0;
    left: 0;
    width: 400px;
    margin: 0 auto;
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 8px 5px 13px rgba(0, 0, 0, 0.30);
    border-radius: 4px;
    z-index: 100;
    transition: all 0.2s ease;
}

.custom-alert.danger {
    background-color: red;
}

.custom-alert.show {
    top: 20px;
}

.custom-alert .split {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.custom-alert .icon {
    background-color: var(--white-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 30px;
}

.custom-alert.danger .icon {
    color: red;
}